:root {
  --animation-timing-function: cubic-bezier(0.1, 0.25, 0.1, 1);
}

main {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 20px 45px;

  background-color: green;

  /* animation-name: changeBgColor;
  animation-duration: 3000ms;
  animation-timing-function: var(--animation-timing-function);
  animation-iteration-count: infinite; */

  animation: bouncing 0.5s var(--animation-timing-function) 0s infinite
    alternate both;
}

@keyframes changeBgColor {
  0% {
    background-color: aqua;
  }
  50% {
    background-color: blueviolet;
  }
  100% {
    background-color: blue;
  }
}

@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  100% {
    bottom: 50px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}
