main {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;

  color: beige;
}

.menu-item {
  position: relative;

  height: 30px;

  padding: 5px;

  overflow: hidden;

  cursor: pointer;

  background-color: rgb(32, 92, 181);
}

.menu-item:hover {
  overflow: visible;
}

.submenu {
  position: absolute;

  width: 100%;

  left: 0;
  top: 100%;

  background-color: burlywood;
}

/*!! Side menu 1 */

/* .menu-container {
  position: absolute;

  transform: translateY(50px);

  height: 200px;
  width: 25px;

  background-color: brown;

  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.menu-container:hover .side-title {
  opacity: 0;
}

.menu-container:hover {
  width: 150px;
}

.menu-container:hover .side-menu-item {
  opacity: 1;
}

.side-title {
  position: absolute;

  right: -10px;
  top: 45%;

  transform: rotate(-90deg);

  margin: 0;
  padding: 0;
}
.side-menu-list {
  margin-top: 30px;
  margin-left: 50px;
}
.side-menu-item {
  opacity: 0;
  cursor: pointer;

  transition: all 250ms ease-in-out;
} */

/*!! Side menu 2 */

.menu-container {
  position: absolute;

  transform: translateX(-80%);

  height: 200px;
  width: 150px;

  background-color: brown;

  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.menu-container:hover {
  transform: translateX(0%);
}

.menu-container:hover .side-title {
  opacity: 0;
}

.side-title {
  position: absolute;

  right: -10px;
  top: 45%;

  transform: rotate(-90deg);

  margin: 0;
  padding: 0;
}

.side-menu-list {
  margin-top: 30px;
  margin-left: 50px;
}
