body {
  /* padding-top: 40px; */
}

html {
  scroll-behavior: smooth;
}

.header {
  /* position: fixed; */
  top: 0;
  height: 40px;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-nav-list {
  display: flex;
  gap: 10px;
}

.section:nth-child(even) {
  background-color: aqua;
}

/* up btn */

.up-btn {
  position: fixed;

  bottom: 30px;
  right: 30px;
}

.up-arrow {
  width: 30px;
  height: 30px;
}
