html,
.post {
  font-size: 14px;
  color: green;

  border: 1px solid rgb(30, 179, 53);
}

.post-link {
  color: currentColor;
}
/* Для інших елементів пишемо color:inherit */

/* Наслідуємо те що не наслідується від батька самостійно */
.post-text {
  border: inherit;
}
