@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 322px) {
  .container {
    width: 322px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 19px;
}
.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.header__logo {
  font-size: 18px;
  line-height: 1.2222222222;
  color: #ffffff;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 104px;
}
.header__user-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
  color: #ffffff;
}
.header__user #sign-up {
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.hero {
  height: 542px;
  width: 322px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 138px;
  background: no-repeat url("../../img/bg-img.jpeg");
  background-size: cover;
  background-position: center;
}
.hero__title {
  width: 270px;
  margin-bottom: 13px;
  font-size: 30px;
  line-height: 1.2333333333;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__subtitle {
  width: 247px;
  margin: 0 auto 17px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1666666667;
  color: #ffffff;
}
.hero__link-btn {
  display: block;
  width: 282px;
  height: 43px;
  padding: 13px 0;
  background-color: #ff4e50;
  border-radius: 20px;
  color: #ffffff;
}

.partner {
  padding-top: 64px;
  padding-bottom: 57px;
}
.partner__title {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.2272727273;
}
.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.partner__photo {
  width: 120px;
  margin-bottom: 11px;
}
.partner__name {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 14px;
}
.partner__legend {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #666666;
}
.partner__btn {
  width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
}/*# sourceMappingURL=main.css.map */