.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 250ms ease-in-out;
}

.box {
  color: aliceblue;

  cursor: pointer;
}

.box:nth-child(1) {
  background-color: brown;
}

.box:hover:nth-child(1) {
  transform: rotate(30deg);
}

.box:nth-child(2) {
  background-color: rgb(110, 192, 34);
}

.box:hover:nth-child(2) {
  transform: rotate(115deg);
}

.box:nth-child(3) {
  background-color: rgb(19, 84, 206);
}

.box:hover:nth-child(3) {
  transform: rotate(-110deg);
}
