html {
  box-sizing: border-box;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 2px solid #161616;
  border-radius: 50%;
}
